.amountOfMotionn .rs-slider-tooltip {
  display: none;
}
.amountOfMotionn .rs-slider-handle:hover .rs-slider-tooltip {
  display: none;
}
.amountOfMotionn .rs-slider-bar,
.amountOfMotionn .rs-slider-progress-bar {
  height: 10px;
  border-radius: 10px;
}
.amountOfMotionn .rs-slider-handle::before {
  width: 18px;
  height: 19px;
}
.amountOfMotionn .rs-slider-progress-bar {
  background-color: #ffcb54;
}
.amountOfMotionn .rs-slider-handle::before {
  border: 2px solid #ffcb54;
  background-color: #ffcb54;
}

.animationLength .rs-slider-tooltip {
  display: none;
}
.animationLength .rs-slider-handle:hover .rs-slider-tooltip {
  display: none;
}
.animationLength .rs-slider-bar,
.animationLength .rs-slider-progress-bar {
  height: 10px;
  border-radius: 10px;
}
.animationLength .rs-slider-handle::before {
  width: 18px;
  height: 19px;
}
.animationLength .rs-slider-progress-bar {
  background-color: #ffcb54;
}
.animationLength .rs-slider-handle::before,
.animationLength .rs-slider-graduator > ol > li.rs-slider-pass::before {
  border: 2px solid #ffcb54;
  background-color: #ffcb54;
}
.animationLength .rs-slider-graduator > ol > li::before,
.animationLength .rs-slider-graduator > ol > li:last-child::after {
  width: 18px;
  height: 19px;
  margin-top: -4px;
}
.animationLength .rs-slider-graduator > ol > li:last-child::after {
  right: -12px;
}
